<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BinaryCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BinaryCalc.Properties.Settings>
            <setting name="OpenNewNote" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveWindowsLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenLastSavedNote" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSavedNote" serializeAs="String">
                <value />
            </setting>
            <setting name="AddButtonsWin" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="VarsWin" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </BinaryCalc.Properties.Settings>
    </userSettings>
</configuration>