Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.ps1
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.lib
*.sbr
trace.txt
obj/
_ReSharper*/
*vshost*
*.nupkg

exe/
exe_debug/
exe_release/
obj/
packages/
